<div class="setting-page-container">
    <div class="icon-container" routerLink="/">
        <mat-icon class="arrow-back-icon">arrow_back</mat-icon>
    </div>
    <div class="setting-page">
        <b>Selezionando il punto di interesse:</b><br><br>

        <mat-radio-group class="radio-group" [(ngModel)]='radioValue'>
            <mat-radio-button class="radio-button" [value]='0'>Apri sliding div</mat-radio-button>
            <mat-radio-button class="radio-button" [value]='1'>Apri finestra modale</mat-radio-button>
        </mat-radio-group><br><br>

        <div class="save-and-back" (click)="saveData()" routerLink="/">
            <mat-icon class="done-icon">done</mat-icon>
            <div>Salva e torna alla mappa</div>
        </div>
    </div>
</div>